In [1]:
# -*- coding: utf-8 -*-
# import requests library trying to get data from a specified resource
import requests
# import urllib library to download the webpage
import urllib.request, urllib.error, urllib.parse
# import BeautifulSoup library to parse the html and scrape information from web pages
from bs4 import BeautifulSoup
# import time to enable 10-second sleep
import time
# import re library to enable text matching using regular expression
import re
# import io library to enable to manage the file-related input and output operations
import io
# import Counter library to count the frequencies of element in a list
from collections import Counter
# import Session object to manage and persist settings across requests
from requests import Session
import os
#import mysql
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [5]:
url = "http://numbersapi.com/0..99/trivia"
r = requests.get(url, headers={"User-Agent":"Mozilla/5.0"})
a = r.json()
for key, val in a.items():
    print(f'{int(key):03}'+" - " + val)

000 - 0 is the coldest possible temperature old the Kelvin scale.
001 - 1 is the number of Gods in monotheism.
002 - 2 is the first magic number in physics.
003 - 3 is cans of Spam consumed every second in the United States.
004 - 4 is the number of bits in a nibble, equivalent to half a byte.
005 - 5 is the holy number of Discordianism, as dictated by the Law of Fives.
006 - 6 is the number of ponies in the main cast of My Little Pony: Friendship is Magic.
007 - 7 is the number of types of viruses according to the Baltimore classification.
008 - 8 is the number of bits in a byte.
009 - 9 is the number of circles of Hell in Dante's Divine Comedy.
010 - 10 is the highest score possible in Olympics gymnastics competitions.
011 - 11 is the number of incarnations of The Doctor in BBC sci-fi series Doctor Who.
012 - 12 is the number of pence in a shilling in the former British currency system.
013 - 13 is the number of steps in the gallows.
014 - 14 is the number of pieces the body of Osiris was torn into by his fratricidal brother Set.
015 - 15 is the number of letters in the words "uncopyrightable", "dermatoglyphics", "misconjugatedly", and "hydropneumatics", the longest English words with no repeat letters.
016 - 16 is the number of teams that qualified for the finals of the FIFA World Cup from 1934 through 1978 (although for various reasons, only 15 competed in the 1938 and 1950 finals).
017 - 17 is the number of the raka'ahs that Muslims perform during Salah on a daily basis.
018 - 18 is the number of wheels on the most common type of North American tractor-trailer truck, which are hence often called 18-wheelers.
019 - 19 is the final year a person is a teenager.
020 - 20 is the number of ounces in Venti size coffees at Starbucks coffee shops.
021 - 21 is the number of points required to win a game in badminton and table tennis (before 2001).
022 - 22 is the typical (minimum) number of episodes in a season for a television program broadcast on a major American network.
023 - 23 is the number of times Julius Caesar was stabbed.
024 - 24 is the number of hours in a day.
025 - 25 is the number of years of marriage marked in a silver wedding anniversary.
026 - 26 is the number of letters in the English and Interlingua alphabets.
027 - 27 is the number of moons of the planet Uranus.
028 - 28 is the number of days in the shortest month of the Gregorian calendar, February (except in leap years, when there are twenty-nine).
029 - 29 is the number of days February has in leap years.
030 - 30 is the number of tracks on The Beatles' eponymous album, usually known as The White Album.
031 - 31 is the number of flavors of Baskin-Robbins ice cream.
032 - 32 is the number of rays in the Japanese Rising Sun on the cover of Incubus' 2006 album Light Grenades.
033 - 33 is the temperature at which water boils according to the Newton scale.
034 - 34 is the lucky number of Victor Pelevin's protagonist Stepan Mikhailov in the novel Numbers.
035 - 35 is the percentage of all bingo players are under the age of 35.
036 - 36 is the perfect score on the ACT.
037 - 37 is the number of slots in European Roulette (numbered 0 through 36, the 00 is not used in European roulette as it is in American roulette).
038 - 38 is the number of slots on an American Roulette wheel (0, 00, and 1 through 36; European roulette does not use the 00 slot and has only 37 slots).
039 - 39 is the duration, in nanoseconds, of the nuclear reaction in the largest nuclear explosion ever performed (Tsar bomb).
040 - 40 is the number of years of marriage as the ruby wedding anniversary.
041 - 41 is the number of soldiers in The Expendables (2010 film) tactor Eric Roberts laments to his subordinates about having been killed by star Sylvester Stallone in his escape from their island.
042 - 42 is the number of museums in Amsterdam (Netherlands has the highest concentration of museums in the world).
043 - 43 is the maximum number of cars participating in a NASCAR race in the Cup Series or Nationwide Series.
044 - 44 is the percentage of kids who watch television before they go to sleep in the US.
045 - 45 is the sapphire wedding anniversary in years of marriage.
046 - 46 is the number of human chromosomes.
047 - 47 is the number of El-Aurians Scotty manages to beam up before their ship is destroyed by the energy ribbon.
048 - 48 is the number of Ptolemaic constellations.
049 - 49 is the number of days and night Siddhartha Gautama spent meditating as a holy man.
050 - 50 is the focal length in millimeters of the normal lens in 35 mm photography.
051 - 51 is the atomic number of antimony.
052 - 52 is the number of cards in a standard deck of playing cards, not counting Jokers or advertisement cards.
053 - 53 is the maximum number of players on a National Football League roster.
054 - 54 is the number of cards in a deck of playing cards, if two jokers are included.
055 - 55 is the number of Delegates who attended the United States Constitutional Convention in 1787.
056 - 56 is the age of Mao Zedong when the People's Republic of China was established on Oct. 1, 1949.
057 - 57 is the number of cm that the smallest man measured, Gul Mohammed (1957-1997) of India.
058 - 58 is the number of counties in California.
059 - 59 is the number of days, approximately in two lunar months.
060 - 60 is the years of marriage until the diamond wedding anniversary.
061 - 61 is the code for international direct dial phone calls to Australia.
062 - 62 is the atomic number of samarium.
063 - 63 is the number of groats in a guinea in British pre-decimal currency.
064 - 64 is the number of classical arts listed in many Indian scriptures.
065 - 65 is the traditional age for retirement in the United Kingdom, Germany and other countries.
066 - 66 is the number of years of the longest hiccups on record by an American pig farmer from 1922 to 1987.
067 - 67 is the number of counties in Florida.
068 - 68 is the ideal temperature (F) for developing black-and-white film.
069 - 69 is the number Bill and Ted were thinking of when talking to their future selves.
070 - 70 is the distance (meter) from archer to targets in Olympic Archery.
071 - 71 is the atomic number of lutetium.
072 - 72 is the number of languages spoken at the Tower of Babylon.
073 - 73 is the single-season home run record in baseball set by Barry Bonds in 2001.
074 - 74 is the number of stars obtained by SpongeBob SquarePants in his driving school.
075 - 75 is the age in years that the Saguaro Cactus, found in southwestern US, must be to grow branches.
076 - 76 is the atomic number of osmium.
077 - 77 is the atomic number of iridium.
078 - 78 is the total number of gifts in the song The Twelve Days of Christmas.
079 - 79 is the record for cumulative weeks at #1 on the Billboard charts, held by Elvis Presley.
080 - 80 is the percentage of American men who say they would marry the same woman if they had it to do all over again.
081 - 81 is the number of stanzas or chapters in the Tao te Ching (in the most common arrangements).
082 - 82 is the atomic number of lead.
083 - 83 is the atomic number of bismuth.
084 - 84 is the atomic number of polonium.
085 - 85 is the atomic number of astatine.
086 - 86 is the device number for a lockout relay function in electrical circuit protection schemes.
087 - 87 is the number of tools in the Wenger Swiss Army Knife version XXL, listed in the Guinness Book of World Records as the world's most multi-functional penknife.
088 - 88 is the number of constellations in the sky as defined by the International Astronomical Union.
089 - 89 is the atomic number of actinium.
090 - 90 is the latitude of the North Pole and the South Pole.
091 - 91 is the atomic number of protactinium.
092 - 92 is the number of pounds of sugar the average American child consumes per year.
093 - 93 is that approximate distance in millions of miles the Sun is away from the Earth.
094 - 94 is the length of an NBA court in feet.
095 - 95 is the NBA record for Most Assists in a 7-game playoff series (by Magic Johnson of the Los Angeles Lakers in 1984).
096 - 96 is the rating of Skyrim on metacritic.com.
097 - 97 is the number of different characters that can be used with a standard English Keyboard.
098 - 98 is the highest jersey number allowed in the National Hockey League (as 99 was retired by the entire league to honor Wayne Gretzky).
099 - 99 is the number of names of Allah, the names or attributes of God in the Qur'an.

In [10]:
#Part2
##a
##add LH_BIN=1 at the end of the original url. Click on the buy-it-now button to get in the right page.
##LH_BIN. the GET request's variable name corresponding to buy-it-now searches: LH_BIN=1
##add _ipg=100 at the end of the original url.
##_ipg

In [11]:
# create the variable 'url' to store the weblink
url = "https://www.ebay.com/sch/i.html?_nkw=canon+eos+5d&LH_BIN=1&_ipg=100"
# name the webpage to be downloaded
name = "ebay_canon_eos_5d.txt"
# download the webpage and name it
urllib.request.urlretrieve(url, name)

('ebay_canon_eos_5d.txt', <http.client.HTTPMessage at 0x115af6a10>)

In [12]:
# set headers to mimic a browser visit in order to avoid "Access Denied" error
agent = {"User-Agent":"Mozilla/5.0"}
# navigate to the url, and store the webpage in a variable 'result'
result = requests.get(url, headers = agent)
# convert the raw bytes of 'result' into a string
page = result.text
# anchor extraction from page and specify the html parser
soup = BeautifulSoup(page, "html.parser")

In [13]:
url = "https://www.ebay.com/sch/i.html?_nkw=canon+eos+5d&LH_BIN=1&_ipg=100"
user_agent = {'User-agent': 'Mozilla/5.0'} 
response = requests.get(url, headers = user_agent)

In [14]:
##b
for pgn in range(1, 11): 
    time.sleep(10)
    url_pgn = url + '&_pgn=' + str(pgn)
    filename = 'ebay_canon_eos_5d_' + str(pgn).zfill(2) + '.txt'
    response = requests.get(url_pgn, headers = user_agent)
    with open(filename, 'w') as file:
        file.write(response.text)

In [15]:
x = []
z = []
for pgn in range(1, 11): 
    url = "https://www.ebay.com/sch/i.html?_nkw=canon+eos+5d&LH_BIN=1&_ipg=100"+ '&_pgn='+str(pgn)
    user_agent = {'User-agent': 'Mozilla/5.0'} 
    response = requests.get(url, headers = user_agent)
    soup = BeautifulSoup(response.content)
    items = soup.select("#srp-river-results > ul > li.s-item")
    for item in items:
        a = item.find("a")
        text = item.find("span").get_text()
        if re.search('.*S.*P.*O.*N.*S.*O.*R.*E.*D.*',text): 
        #print(a['href']) 
            url_simplify = re.sub("(.*)\\?.*", r"\1", a['href'])
            x.append(url_simplify)
        else:
            url_simplify_nonspon = re.sub("(.*)\\?.*", r"\1", a['href'])
            z.append(url_simplify_nonspon)
with open("sponsored.txt", 'w') as file:
    for item in x:
        file.write('%s\n' % item)
        
with open("non-sponsored.txt", 'w') as file:
    for item in z:
        file.write('%s\n' % item)

In [19]:
##c
def createFolder(directory):
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print ('Error: Creating directory. ' +  directory)
        
# Example
createFolder('./sponsored/')
# Creates a folder in the current directory called sponsored

def createFolder(directory):
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print ('Error: Creating directory. ' +  directory)
        
# Example
createFolder('./nonsponsored/')
# Creates a folder in the current directory called sponsored

In [41]:
file = open('sponsored.txt', 'r') 
a=file.read()
b = a.split('\n')

In [45]:
b[0].split("/")[-1]

'202898582629'

In [52]:
r = requests.get(b[0], 'html.parser')

In [53]:
soup = BeautifulSoup(r.content, 'html.parser')

In [1]:
file = open('sponsored.txt', 'r') 
a=file.read()
b = a.split('\n')
b=b[:-1]
for i in range(0, len(b)):
    try:
        c=b[i].split("/")
        item_id=c[-1]
    #     name = item_id+".htm"
        url = b[i]
        r = requests.get(url, headers={"User-Agent":"Mozilla/5.0"})
    #     soup_r = BeautifulSoup(r.content, 'html.parser')
        with open(os.getcwd()+'/sponsored/'+item_id+".htm", 'w') as file:
            file.write(r.text)
        time.sleep(2)
    except:
        continue

In [2]:
file = open('non-sponsored.txt', 'r') 
a=file.read()
b = a.split('\n')
for i in range(0, len(b)):
    try:
        c=b[i].split("/")
        item_id=c[-1]
        url = b[i]
        r = requests.get(url, headers={"User-Agent":"Mozilla/5.0"})
    #     soup_r = BeautifulSoup(r.content, 'html.parser')
        with open(os.getcwd()+'/nonsponsored/'+item_id+".htm", 'w') as file:
            file.write(r.text)
        time.sleep(2)
    except:
        continue

In [6]:
##d
from bs4 import BeautifulSoup
path='sponsored'
files=os.listdir(path)
files=[name for name in files if name != ".DS_Store"]
rows=[]
for file in files:
    try:
        ##get id of the items
        item_id=file.split(".")[0]
        item_id=int(item_id)
        
        file=open(os.getcwd()+'/sponsored/'+file,'r')
        e=file.read()
        soup = BeautifulSoup(e, 'html.parser')
        
        #seller name
        seller_name=soup.find("span", attrs= {"class": "mbg-nw"})
        if seller_name is None:
            seller_name=soup.find_all("span", attrs= {"class": "no-wrap"})[1].text
            lst=seller_name.split('(')
            seller_name=lst[0]
        else:
            seller_name=seller_name.text
        
        #seller score
        score =soup.find("span", attrs= {"class": "mbg-l"})
        if score is None:
            score=soup.find_all("span", attrs= {"class": "no-wrap"})[1].text
            lst=score.split('(')
            score=lst[1]
            lst=score.split(')')
            score=lst[0]
        else:
            score=score.text
            score=score.split("(")[1]
            score=score.split(")")[0]
            score=re.search('\d+',score)[0]
        score=int(score)
        
        #item price
        price=soup.find("span",attrs={"id": "prcIsum"})
        if price is None:
            price=soup.find("span",attrs={"id": "mm-saleDscPrc"})
        if price is None:
            price=soup.find("h2",attrs={"class": "display-price"})
        if price is None:
            price=soup.find("span",attrs={"id": "prcIsum_bidPrice"})
        price=price.text
        if "$" in price:
            if " " in  price:
                price=price.split("$")[1]
            else:
                price=price[1:]
        else:
            price=price.split(' ')[1]
        if "," in price:
            price=price.split(',')
            price=''.join(price)
        if 'ea' in price:
            price=price.split('/')
            price=price[0]
        price=float(price)
        price=price*100
        price=int(price)

        # #items sold
        s=soup.find("a",attrs={"class": "vi-txt-underline"})
        if s is None:
            num_sold=None
        else:
            sold = s.text
            num_sold = sold.split(" ")[0]
            if ',' in num_sold:
                num_sold=num_sold.split(",")
                num_sold=''.join(num_sold)
            num_sold = int(num_sold)
        
        #best offer available
        bo=soup.find("div",attrs={"class": "vi-bbox-dspn u-flL lable boLable"})
        if bo is None:
            best_offer="NO"
        else:
            best_offer="YES"
        
        #title
        title=soup.find("h1",attrs={"id":"itemTitle"})
        if title is None:
            title=soup.find("h1",attrs={"class":"product-title"})
            title=title.text
        else:
            title=title.text
            title=title.split("\xa0")[1]
        
        #returns allowed
        return_allowed=soup.find("span",attrs={"id": "vi-ret-accrd-txt"})
        if return_allowed is None:
            return_allowed=None
        else:
            return_allowed=return_allowed.text
#             return_list=return_allowed.split('\xa0')
#             print(return_list)
#             return_allowed=return_list.join(' ')
        if return_allowed is "None":
            return_allowed=return_allowed
        elif return_allowed in ('Free 30 day returns','30 day\xa0returns.\xa0Buyer pays for return shipping','14 day\xa0returns.\xa0Buyer pays for return shipping','Free 60 day returns','60 day\xa0returns.\xa0Buyer pays for return shipping'):
            return_allowed="YES"
        else:
            return_allowed="NO"
        
        #shipping price
        ship=soup.find("span",attrs={"id":"fshippingCost"})
        if ship is None:
            shipping="None"
        else:
            shipping=ship.text
            if shipping=='\nFREE\n':
                shipping='FREE'
            else:
                shipping=re.search('\d+.\d+',shipping)[0]
                shipping=float(shipping)
        
        #condition
        cond=soup.find("div",attrs={"id": "vi-itm-cond"})
        if cond is None:
            cond="New"
        else:
            cond=cond.text
        
        row=[item_id,seller_name,score,price,num_sold,best_offer,title,return_allowed,shipping,cond,"sponsored"]
        rows.append(row)
        
    except:
        print("error")
        print(file)
        continue

error
.htm

In [7]:
##non-sponsored
import os
from bs4 import BeautifulSoup
path='nonsponsored'
files=os.listdir(path)
files=[name for name in files if name != ".DS_Store"]
for file in files:
    try:
        ##get id of the items
        item_id=file.split(".")[0]
        item_id=int(item_id)
        
        file=open(os.getcwd()+'/nonsponsored/'+file,'r')
        e=file.read()
        soup = BeautifulSoup(e, 'html.parser')
        ##print(soup.prettify())
        
        #seller name
        seller_name=soup.find("span", attrs= {"class": "mbg-nw"})
        if seller_name is None:
            seller_name=soup.find_all("span", attrs= {"class": "no-wrap"})[1].text
            lst=seller_name.split('(')
            seller_name=lst[0]
        else:
            seller_name=seller_name.text
        
        #seller score
        score =soup.find("span", attrs= {"class": "mbg-l"})
        if score is None:
            score=soup.find_all("span", attrs= {"class": "no-wrap"})[1].text
            lst=score.split('(')
            score=lst[1]
            lst=score.split(')')
            score=lst[0]
        else:
            score=score.text
            score=score.split("(")[1]
            score=score.split(")")[0]
            score=re.search('\d+',score)[0]
        score=int(score)
        
        #item price
        price=soup.find("span",attrs={"id": "prcIsum"})
        if price is None:
            price=soup.find("span",attrs={"id": "mm-saleDscPrc"})
        if price is None:
            price=soup.find("h2",attrs={"class": "display-price"})
        if price is None:
            price=soup.find("span",attrs={"id": "prcIsum_bidPrice"})
        price=price.text
        if "$" in price:
            if " " in  price:
                price=price.split("$")[1]
            else:
                price=price[1:]
        else:
            price=price.split(' ')[1]
        if "," in price:
            price=price.split(',')
            price=''.join(price)
        if 'ea' in price:
            price=price.split('/')
            price=price[0]
        price=float(price)
        price=price*100
        price=int(price)

        # #items sold
        s=soup.find("a",attrs={"class": "vi-txt-underline"})
        if s is None:
            num_sold=None
        else:
            sold = s.text
            num_sold = sold.split(" ")[0]
            if ',' in num_sold:
                num_sold=num_sold.split(",")
                num_sold=''.join(num_sold)
            num_sold = int(num_sold)
        
        #best offer available
        bo=soup.find("div",attrs={"class": "vi-bbox-dspn u-flL lable boLable"})
        if bo is None:
            best_offer="NO"
        else:
            best_offer="YES"
        
        #title
        title=soup.find("h1",attrs={"id":"itemTitle"})
        if title is None:
            title=soup.find("h1",attrs={"class":"product-title"})
            title=title.text
        else:
            title=title.text
            title=title.split("\xa0")[1]
        
        #returns allowed
        return_allowed=soup.find("span",attrs={"id": "vi-ret-accrd-txt"})
        if return_allowed is None:
            return_allowed=None
        else:
            return_allowed=return_allowed.text
#             return_list=return_allowed.split('\xa0')
#             print(return_list)
#             return_allowed=return_list.join(' ')
        if return_allowed is "None":
            return_allowed=return_allowed
        elif return_allowed in ('Free 30 day returns','30 day\xa0returns.\xa0Buyer pays for return shipping','14 day\xa0returns.\xa0Buyer pays for return shipping','Free 60 day returns','60 day\xa0returns.\xa0Buyer pays for return shipping'):
            return_allowed="YES"
        else:
            return_allowed="NO"
        
        #shipping price
        ship=soup.find("span",attrs={"id":"fshippingCost"})
        if ship is None:
            shipping=None
        else:
            shipping=ship.text
            if shipping=='\nFREE\n':
                shipping='FREE'
            else:
                shipping=re.search('\d+.\d+',shipping)[0]
                shipping=float(shipping)
        
        #condition
        cond=soup.find("div",attrs={"id": "vi-itm-cond"})
        if cond is None:
            cond="New"
        else:
            cond=cond.text
        
        row=[item_id,seller_name,score,price,num_sold,best_offer,title,return_allowed,shipping,cond,"nonsponsored"]
        rows.append(row)
        
    except:
        print("error")
        print(file)
        continue

In [9]:
#e
##Convert list to dataframe
eBay_items=pd.DataFrame(rows)
eBay_items.columns=['item_id','seller_name','score','price','num_sold','best_offer','title','return_allowed','shipping','item_condition','sponsored']
eBay_items
# build a connection with MySQL server (use user "root" and set the passwords as "")
connection = mysql.connector.connect(user='root', host = 'localhost', password = "")
# create a cursor object using connection.cursor() to use the server connection
cursor = connection.cursor()
# create a database named "ucdavis"
cursor.execute("CREATE DATABASE IF NOT EXISTS eBay")
# build a connection with eBay database
connection = mysql.connector.connect(user='root', 
                                     host = 'localhost', 
                                     password = "",
                                    database = "eBay")
#create a cursor object to use the database connection
cursor = connection.cursor()
# creates the table "omdb_test" containing the columns
cursor.execute("CREATE TABLE IF NOT EXISTS eBay_items (items_id CHAR(12) PRIMARY KEY, seller_name VARCHAR(100), score VARCHAR(100), price INT(100), num_sold VARCHAR(100), best_offer VARCHAR(10), title VARCHAR(100), return_allowed VARCHAR(10), shipping INT(100), item_condition VARCHAR(100), sponsored VARCHAR(10))")

engine = create_engine("mysql+pymysql://root:@localhost/eBay")
eBay_items.to_sql('eBay_items', con = engine, if_exists = 'replace')
#Convert None to Null
eBay_items = eBay_items.where(pd.notnull(eBay_items), None)

In [10]:
##f
##return_allowed
cursor = connection.cursor()
cursor.execute("select count(a.return_allowed_binary), avg(a.return_allowed_binary), min(a.return_allowed_binary), max(a.return_allowed_binary), a.sponsored, a.item_condition \
                from (select (case when return_allowed ='YES' then 1 when return_allowed ='NO' then 0 end) return_allowed_binary,sponsored, item_condition \
                from eBay.eBay_items) a group by a.sponsored, a.item_condition;")
result=cursor.fetchall()
result_df=pd.DataFrame(result)
result_df.columns=['count_whether_return_allowed', 'mean_whether_return_allowed', 'min_whether_return_allowed','max_whether_return_allowed', 'whether_sponsored', 'condition']
result_df

,count_whether_return_allowed,mean_whether_return_allowed,min_whether_return_allowed,max_whether_return_allowed,whether_sponsored,condition
0,65,0.9538,0,1,sponsored,New
1,44,0.7727,0,1,sponsored,Used
2,3,0.6667,0,1,sponsored,Seller refurbished
3,2,0.5000,0,1,sponsored,Open box
4,447,0.9463,0,1,nonsponsored,New
5,506,0.5237,0,1,nonsponsored,Used
6,17,0.0588,0,1,nonsponsored,For parts or not working
7,2,0.0000,0,0,nonsponsored,Manufacturer refurbished
8,8,0.6250,0,1,nonsponsored,Seller refurbished
9,18,0.5000,0,1,nonsponsored,Open box

In [11]:
##best_offer_available
cursor = connection.cursor()
cursor.execute("select count(b.best_offer_binary), avg(b.best_offer_binary), min(b.best_offer_binary), max(b.best_offer_binary), b.sponsored, b.item_condition \
            from (select (case when best_offer ='YES' then 1 when best_offer ='NO' then 0 end) best_offer_binary,sponsored, item_condition \
            from eBay.eBay_items) b group by b.sponsored, b.item_condition;")
result_bo=cursor.fetchall()
bo_df=pd.DataFrame(result_bo)
bo_df.columns=['count_whether_best_offer', 'mean_whether_best_offer', 'min_whether_best_offer','max_whether_best_offer', 'whether_sponsored', 'condition']
bo_df

,count_whether_best_offer,mean_whether_best_offer,min_whether_best_offer,max_whether_best_offer,whether_sponsored,condition
0,65,0.0462,0,1,sponsored,New
1,44,0.2500,0,1,sponsored,Used
2,3,0.0000,0,0,sponsored,Seller refurbished
3,2,1.0000,1,1,sponsored,Open box
4,447,0.0268,0,1,nonsponsored,New
5,506,0.4427,0,1,nonsponsored,Used
6,17,0.4706,0,1,nonsponsored,For parts or not working
7,2,0.5000,0,1,nonsponsored,Manufacturer refurbished
8,8,0.2500,0,1,nonsponsored,Seller refurbished
9,18,0.3333,0,1,nonsponsored,Open box

In [12]:
##seller_score
cursor = connection.cursor()
cursor.execute("select avg(score), min(score), max(score), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_ss=cursor.fetchall()
ss_df=pd.DataFrame(result_ss)
ss_df.columns=["mean_seller_score","min_seller_score","max_seller_score",'whether_sponsored', 'condition']
ss_df

,mean_seller_score,min_seller_score,max_seller_score,whether_sponsored,condition
0,226913.8462,92,568348,sponsored,New
1,17763.8636,0,165736,sponsored,Used
2,66234.6667,10,99347,sponsored,Seller refurbished
3,11566.0000,174,22958,sponsored,Open box
4,101321.2192,1,916781,nonsponsored,New
5,10995.1601,0,166195,nonsponsored,Used
6,12831.7647,0,142423,nonsponsored,For parts or not working
7,802.0000,370,1234,nonsponsored,Manufacturer refurbished
8,49996.3750,17,99347,nonsponsored,Seller refurbished
9,18778.5000,9,63648,nonsponsored,Open box

In [13]:
##item_price
cursor = connection.cursor()
cursor.execute("select avg(price), min(price), max(price), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_ip=cursor.fetchall()
ip_df=pd.DataFrame(result_ip)
ip_df.columns=["mean_item_price","min_item_price","max_item_price",'whether_sponsored', 'condition']
ip_df

,mean_item_price,min_item_price,max_item_price,whether_sponsored,condition
0,290656.3692,119995,489899,sponsored,New
1,147936.7273,22900,384600,sponsored,Used
2,132838.3333,32205,300000,sponsored,Seller refurbished
3,299999.5000,299999,300000,sponsored,Open box
4,305720.6063,1587,640000,nonsponsored,New
5,107568.8656,14940,800000,nonsponsored,Used
6,38606.0000,9999,127999,nonsponsored,For parts or not working
7,104950.0000,99900,110000,nonsponsored,Manufacturer refurbished
8,112540.1250,31160,198599,nonsponsored,Seller refurbished
9,237818.1111,2820,468900,nonsponsored,Open box

In [14]:
##item_sold
cursor = connection.cursor()
cursor.execute("select avg(num_sold), min(num_sold), max(num_sold), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_is=cursor.fetchall()
is_df=pd.DataFrame(result_is)
is_df.columns=["mean_item_sold","min_item_sold","max_item_sold",'whether_sponsored', 'condition']
is_df

,mean_item_sold,min_item_sold,max_item_sold,whether_sponsored,condition
0,8.391304,1.0,77.0,sponsored,New
1,1.000000,1.0,1.0,sponsored,Used
2,21.000000,21.0,21.0,sponsored,Seller refurbished
3,NaN,NaN,NaN,sponsored,Open box
4,46.890411,1.0,2371.0,nonsponsored,New
5,11.166667,1.0,60.0,nonsponsored,Used
6,NaN,NaN,NaN,nonsponsored,For parts or not working
7,NaN,NaN,NaN,nonsponsored,Manufacturer refurbished
8,3.000000,3.0,3.0,nonsponsored,Seller refurbished
9,NaN,NaN,NaN,nonsponsored,Open box

In [15]:
##seller_name
cursor = connection.cursor()
cursor.execute("select count(seller_name), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_sn=cursor.fetchall()
sn_df=pd.DataFrame(result_sn)
sn_df.columns=["count_seller_name", 'whether_sponsored', 'condition']
sn_df

   count_seller_name whether_sponsored                 condition
0                 65         sponsored                       New
1                 44         sponsored                      Used
2                  3         sponsored        Seller refurbished
3                  2         sponsored                  Open box
4                447      nonsponsored                       New
5                506      nonsponsored                      Used
6                 17      nonsponsored  For parts or not working
7                  2      nonsponsored  Manufacturer refurbished
8                  8      nonsponsored        Seller refurbished
9                 18      nonsponsored                  Open box

In [16]:
##title
cursor = connection.cursor()
cursor.execute("select count(title), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_t=cursor.fetchall()
t_df=pd.DataFrame(result_t)
t_df.columns=["count_title", 'whether_sponsored', 'condition']
t_df

   count_title whether_sponsored                 condition
0           65         sponsored                       New
1           44         sponsored                      Used
2            3         sponsored        Seller refurbished
3            2         sponsored                  Open box
4          447      nonsponsored                       New
5          506      nonsponsored                      Used
6           17      nonsponsored  For parts or not working
7            2      nonsponsored  Manufacturer refurbished
8            8      nonsponsored        Seller refurbished
9           18      nonsponsored                  Open box

In [17]:
##shipping price
cursor = connection.cursor()
cursor.execute("select count(shipping), sponsored, item_condition from eBay.eBay_items group by sponsored, item_condition;")
result_sh=cursor.fetchall()
sh_df=pd.DataFrame(result_sh)
sh_df.columns=["count_shipping_price", 'whether_sponsored', 'condition']
sh_df

   count_shipping_price whether_sponsored                 condition
0                    65         sponsored                       New
1                    44         sponsored                      Used
2                     3         sponsored        Seller refurbished
3                     2         sponsored                  Open box
4                   413      nonsponsored                       New
5                   342      nonsponsored                      Used
6                    10      nonsponsored  For parts or not working
7                     0      nonsponsored  Manufacturer refurbished
8                     5      nonsponsored        Seller refurbished
9                    13      nonsponsored                  Open box

In [18]:
##g
##the average price for sponsored items are higher than non-sponsored items. Also, for sponsored items, 
##The shipping price is higher and seller scores are higher.